.basket {
   width: 69px;
   height: 63px;
   position: absolute;
   right: 30px;
   top: 90vh;
   background-color: #007bff;
   border-radius: 50%;
   padding: 13px;

   @media (max-width: 991px) {
        top: 2rem;
        right: 7rem;
        i {
            font-size: x-large;
        }
   }

   &-button {
      border-radius: 50%;
      display: flex;
      align-items: baseline;
      background: transparent;
      border: none;
   }



   .count {
        position: absolute;
        width: 30px;
        height: 30px;
        right: -11px;
        top: -7px;
        background: tomato;
        color: white;
        border-radius: 50%;
        // font-size: 90%;
        padding: 2px;
   }  

   .fa-dolly {
      color: white;
      font-size: 34px;
   }
}

