.shop-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-bold {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
    }

   i {
       color: rgba(107, 94, 94, 0.692);

       &:hover {
            color:rgb(185, 0, 0)
       }
   }

}