.basket {
   width: 20px;
   height: 20px;
   position: absolute;
   background-color: aliceblue;
   right: 10rem;
   top: auto;
   text-align: center;
   border-radius: 50%;
   .count {
      padding-bottom: 10px;
   }
}